body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 50px;
}

.orange-clr {
    color: orange;
}

.flexible-dis {
    display: flex;
}

.half-weight {
    width: 50%;
    padding-left: 40px;
}

.half-weight img {
    width: 100%;
}


.button {
    display: block;
    width: 115px;
    height: 25px;
    background-image: linear-gradient(yellow, orange);
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    line-height: 25px;
    text-decoration: none;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;

}

.exp-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.img-size {
    width: 50%;
    padding-left: 30px;

}

.right-adjust {
    padding-left: 20px;
}

.button {
    background-image: linear-gradient(orange, yellow);
    display: block;
    width: 230px;
    height: 30px;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    line-height: 25px;
    text-decoration: none;
}

.side-banner {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.experience-item {
    box-shadow: 10px 10px 40px gray;
    width: 40%;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 3%;
    padding-left: 40px;
}

.org {
    color: orange;
    font-weight: 700;
}

#full-stack {
    border-left: 10px solid tomato;
}

#baby-web {
    border-left: 10px solid skyblue;
}

footer p {
    text-align: center;
    margin-top: 100px;
}